section.call
    .call_tittle_main
        .call_tittle Успей забронировать понравившуюся квартиру
        .call_phone +7 (495) 109-06-02
        .call_time 10:00 - 19:00
    form.form
        .row
            .col
                input.form-control.call_in(type="text", placeholder="Ваше Имя")
            .col
                input.form-control.call_in(type="text", placeholder="Ваш телефон")
            .col
                button.btn.btn-success.submit_but(type="submit") Записаться на просмотр
