section.flat
    .flat_tittle
        .flat_tittle__tittle Подберите квартиру для себя
        .flat_tittle__descript Доступное жилье по привлекательной цене
    .modal_wrap
        a.modal_overlay(data-toggle="modal", href="#ModalCenter", data-target="#ModalCenter")
            img.modal__img(src="../../img/modal_shape.png", alt="")
        .modal_pic 
            img(src="../../img/modal_bg.jpg", alt="")
