//- Hero block starts here
section.hero
    .container
        .wrap_main.clearfix
            .logo_left
                img.logo_pic(src="../../img/logo.png")
            .contacts_right
                .contacts_time 10:00 - 19:00 
                .contacts_phone +7 (495)109-06-02
                a.btn.btn-success.callback(href="#", role="button") Обратный звонок
                a.btn.btn-success.phone_btn(href="#", role="button")
                    i.fa.fa-phone(aria-hidden="true")
        .wrap_main.wrap_tittle
            .hero_tittle__block
                .hero_tittle__caption Солнечногорский район, п. Андреевка, вблизи ул. Ясная
                .hero_tittle__tittle ЖК "Андреевка"
                .hero_tittle__descript Экологически чистый район в живописном месте
        .wrap_main.wrap_options
            .option_block
                .option_pic 
                    img.option_pic__img(src="../../img/Shape 799-2.svg", alt="")
                .option_tittle Низкие цены
                .option_descript Квартиры от 1,5 млн. рублей
                .option_info В том числе экономичные студии до 24 м2
            .option_block
                .option_pic
                    img.option_pic__img(src="../../img/Shape 799-1.svg", alt="")
                .option_tittle Развитая инфраструктура
                .option_descript Подземный паркинг на 600 мест детский сад на 60 мест
                .option_info Собственная торговая инфраструктура
            .option_block
                .option_pic
                    img.option_pic__img(src="../../img/Shape 799.svg", alt="")
                .option_tittle Благоприятная роза ветров
                .option_descript.third Вдали от шума, c видом на лесопарк, 
                .option_info где можно гулять с детьми,тихие соседи
//- The end of hero section