.modal#ModalCenter(tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title#ModalTittle Подбор параметров будущего жилья
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body.row
                        .left_col.col-md-4
                            .list_alig.flat_list__stage
                                .list.title Этаж
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage1") 
                                    label(for="stage1") 1
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage2") 
                                    label(for="stage2") 2
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage3") 
                                    label(for="stage3") 3
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage4") 
                                    label(for="stage4") 4
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage5") 
                                    label(for="stage5") 5
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage1") 
                                    label(for="stage1") 1
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage2") 
                                    label(for="stage2") 2
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage3") 
                                    label(for="stage3") 3
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage4") 
                                    label(for="stage4") 4
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage5") 
                                    label(for="stage5") 5
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage1") 
                                    label(for="stage1") 1
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage2") 
                                    label(for="stage2") 2
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage3") 
                                    label(for="stage3") 3
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage4") 
                                    label(for="stage4") 4
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage5") 
                                    label(for="stage5") 5
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage1") 
                                    label(for="stage1") 1
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage2") 
                                    label(for="stage2") 2
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage3") 
                                    label(for="stage3") 3
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage4") 
                                    label(for="stage4") 4
                                .stage__item
                                    input.stage_input(type="checkbox", id="stage5") 
                                    label(for="stage5") 5
                            .list_alig.flat_type
                                .list.title Тип
                                .stage__item
                                    input.stage_input(type="checkbox", id="every") 
                                    label(for="every") Любая
                                .stage__item
                                    input.stage_input(type="checkbox", id="1room") 
                                    label(for="1room") 1-комнатная
                                .stage__item
                                    input.stage_input(type="checkbox", id="2room") 
                                    label(for="2room") 2-комнатная
                                .stage__item
                                    input.stage_input(type="checkbox", id="3room") 
                                    label(for="3room") 3-комнатная
                                .stage__item
                                    input.stage_input(type="checkbox", id="none") 
                                    label(for="none") Нежилые помещения
                            .list_alig.flat_square
                                .list.title Площадь м&sup2;
                                .input_item
                                    .input-group
                                        .input-group-prepend
                                            span.input-group-text#start От
                                        input.form-control.stage_input(type="text", placeholder="0", aria-label="От", aria-describedby="start") 
                                    .input-group
                                        .input-group-prepend
                                            span.input-group-text#end До
                                        input.form-control.stage_input(type="text", placeholder="0", aria-label="До", aria-describedby="end")     
                            .list_alig.flat_price
                                .list.title Cтоимость, руб.
                                .input_item
                                    .input-group
                                        .input-group-prepend
                                            span.input-group-text#start От
                                        input.form-control.stage_input(type="text", placeholder="0", aria-label="От", aria-describedby="start") 
                                    .input-group
                                        .input-group-prepend
                                            span.input-group-text#end До
                                        input.form-control.stage_input(type="text", placeholder="0", aria-label="До", aria-describedby="end")     
                            .list_alig.flat_button
                                .btn.btn-success.button_form Подобрать квартиру
                        .right_col.col-md-8
                            .item
                                .item_img
                                .item_info
                                    .item_desc Квартиры: 40
                                    .item_desc Этажи 1-16
                                    .item_desc Площадь: от 32.70 м&sup2;
                                .item_price 
                                    .item_price__text от 2 537 287 р.
                            .item
                                .item_img
                                .item_info
                                    .item_desc Квартиры: 40
                                    .item_desc Этажи 1-16
                                    .item_desc Площадь: от 32.70 м&sup2;
                                .item_price 
                                    .item_price__text от 2 537 287 р.
                            .item
                                .item_img
                                .item_info
                                    .item_desc Квартиры: 40
                                    .item_desc Этажи 1-16
                                    .item_desc Площадь: от 32.70 м&sup2;
                                .item_price 
                                    .item_price__text от 2 537 287 р.
                            .item
                                .item_img
                                .item_info
                                    .item_desc Квартиры: 40
                                    .item_desc Этажи 1-16
                                    .item_desc Площадь: от 32.70 м&sup2;
                                .item_price 
                                    .item_price__text от 2 537 287 р.
                            .item
                                .item_img
                                .item_info
                                    .item_desc Квартиры: 40
                                    .item_desc Этажи 1-16
                                    .item_desc Площадь: от 32.70 м&sup2;
                                .item_price 
                                    .item_price__text от 2 537 287 р.
                            .item
                                .item_img
                                .item_info
                                    .item_desc Квартиры: 40
                                    .item_desc Этажи 1-16
                                    .item_desc Площадь: от 32.70 м&sup2;
                                .item_price 
                                    .item_price__text от 2 537 287 р.   